<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
    <th:block th:include="partials/bootstrap :: styling"/>
</head>
<body>
<!--<nav th:replace="partials/navbar :: navbar"></nav>-->
<main class="container">
    <h1 class="text-center">Pick a Number</h1>
</main>
<div class="container p-3 d-flex justify-content-around">
    <form action="/roll-dice/{n}" method="post">
        <button type="button" class="btn btn-primary btn-lg" name="numPick" value="1">1</button>
        <button type="button" class="btn btn-secondary btn-lg" name="numPick" value="2">2</button>
        <button type="button" class="btn btn-success btn-lg" name="numPick" value="3">3</button>
        <button type="button" class="btn btn-danger btn-lg" name="numPick" value="4">4</button>
        <button type="button" class="btn btn-warning btn-lg" name="numPick" value="5">5</button>
        <button type="button" class="btn btn-info btn-lg" name="numPick" value="6">6</button>
    </form>
</div>

<div class="container">
    <h1 th:text="${num}"></h1>
    <br>
    <h1 th:text="${n}"></h1>
</div>
<th:block th:include="partials/bootstrap :: scripts"/>
</body>
</html>