<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
    <th:block th:include="partials/bootstrap :: styling"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container p-3 d-flex justify-content-around">
    <button type="button" class="btn btn-primary" name="numPick">Primary</button>
    <button type="button" class="btn btn-secondary" name="numPick">Secondary</button>
    <button type="button" class="btn btn-success" name="numPick">Success</button>
    <button type="button" class="btn btn-danger" name="numPick">Danger</button>
    <button type="button" class="btn btn-warning" name="numPick">Warning</button>
    <button type="button" class="btn btn-info" name="numPick">Info</button>
    <button type="button" class="btn btn-light" name="numPick">Light</button>
    <button type="button" class="btn btn-dark" name="numPick">Dark</button>
</div>
<th:block th:include="partials/bootstrap :: scripts"/>
</body>
</html>